*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    font-size: 1.6rem;
    padding: 2rem 30rem;
    background-color:  #FCFBF8;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
    border: 1px solid black;
    position: relative;
}
.cards{
    background-color: #E8E7E6 ;
    background-color: transparent;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  .flip-card-back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #607EEB;
  }
  .fas{
    color: white;
  }
  .winner-modal{
    background-color: #607EEB;
    position: absolute;
    padding: 2rem 4rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1); 
    color: white;
    border-radius: 10px;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
  .winner-modal h1{
    font-size: 4rem;
  }
  @media screen and (max-width:1000px) {
    body{
      padding: 2rem 3rem;
    }
  }
  @media screen and (max-width:800px) {
    body{
      grid-template-columns: repeat(3,1fr);
    }
    .winner-modal{
      width: 80%;
      padding: 2rem 1rem;
    }
  }